/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(286px, 1fr));
  }
  .grid-cols-5 {
    grid-template-columns: repeat(5, minmax(336px, 1fr));
  }
  .height-card-lower {
    height: 46%;
  }
  .height-card-upper {
    height: 54%;
  }
  .outline-white {
    outline: white solid 2px;
  }
  .rm-scroll {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .rm-scroll::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
  }
  .c-focus:focus {
    outline: none;
    border: 2px;
  }
  .border-3 {
    border-width: 3px;
  }
  .max-w-content {
    max-width: fit-content;
  }
  .max-h-content {
    max-height: fit-content;
  }
  * {
    transition: 0.3s;
  }
  .ml-8dot5 {
    margin-left: 8.5rem;
  }
  html {
    scroll-behavior: smooth;
  }
  .max-w-90 {
    max-width: 90rem;
  }
  .max-w-83 {
    max-width: 83rem;
  }
  .scroll-container {
    scroll-snap-type: x mandatory;
  }
  .scroll-item {
    scroll-snap-align: start;
  }
}
